<!--
  Create an application in Javascript/NodeJS that allows users to enter a search term for a
   food category (e.g. sushi, burgers) and a city to search around and returns a "food tour"
   of the highest rated locations that category.

Required Features
User should be able to enter a Address/City/State or Zipcode within the US in the location box and a search radius.
The application should return a list of the top restaurants within the search radius of that location.
The list should be sortable and filterable by distance, name, and star rating.
From that list, the user should be able to select the stops they want to add to the tour and reorder them.
Once the user has confirmed their selection, the application should generate a downloadable list in the user's
preferred format (PDF, CSV, or JSON).
Add the ability to mark certain tours as favorites and have them persist when the application is refreshed.
The application must have a friendly user experience and a modern, approachable UI.
Extras you can add
Add a sharing feature which allows users to send their tour to their friends via any method you choose.
Add a date picker and show weather data for that tour location on the chosen date. -->
{% extends 'base_layout.html' %}
{% block title %}Home page{% endblock %}

{% block content %}



{% endblock  %}
