
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <script type="text/javascript" src={% static 'tour.js' %}></script>
    <link rel="stylesheet" href={% static 'tour.css' %}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" /> -->
  </head>
  <body>
    <div class="header">
          <div class="search-form">
            <form  action="{% url 'result' %}" method="post" > {% csrf_token%}
              <fieldset>
                <legend>Find Food Near Me</legend>
                  <div class="inner-form">
                      <div class="input-field first-wrap">
                        <input id="Food_Category" type="text" name="Food_Category"  placeholder="Food Type ? e.g.,Sushi" required oninvalid="this.setCustomValidity('Food type is must')" onchange="this.setCustomValidity('')">
                      </div>
                      <div class="input-field second-wrap">
                       <input id="location" type="text" name="location" value="" placeholder="Location" required oninvalid="this.setCustomValidity('location is must')" onchange="this.setCustomValidity('')" >
                      </div>
                      <div class="input-field third-wrap">
                        <select id="country" name="country">
                          <option disabled="true" selected>Country</option>
                          <option value='US'>US</option>
                        </select>
                      </div>
                      <div class="input-field fourth-wrap">
                        <input id="radius" type="number" name="radius" min='1' max='24' placeholder="Radius-miles" required oninvalid="this.setCustomValidity('Entering radius in miles is must')" onchange="this.setCustomValidity('')" >
                      </div>
                      <div class="input-field fifth-wrap">
                        <input id="Search" class='btn-search' type="submit" name="Search" value="Search">
                      </div>
                  </div>
              </fieldset>
            </form>
          </div>
      </div>
      {% block content %}
      {% endblock  %}







  </body>
</html>
