
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src={% static 'tour.js' %}></script>
    <link rel="stylesheet" href={% static 'tour.css' %}>

  </head>
  <body >
    <h1>FORM</h1>
    <form  action="{% url 'result' %}" method="post" >
      {% csrf_token%}
      <label for="Food_Category">Enter Food Category : </label>
      <input type="text" name="Food_Category"  placeholder="e.g sushi,burgers" required><br><br>

      <label for="address1" >Address1 : </label>
      <input type="text" name="address1" value="" placeholder=" e.g 1467 Bakers st" >
      <label for="address2" >Address2 : </label>
      <input type="text" name="address2" value="" >
      <label for="city" >City : </label>
      <input type="text" name="city" value="" required>
      <label for="state" >State : </label>
      <input type="text" name="state" value="" required><br><br>

      <label for="country">Country: </label>
      <select name="country" >
        <option disabled="true" selected>Country</option>
        <option value='US'>US</option>
      </select>
      <label for="zipcode" >Zipcode : </label>
      <input type="number" name="zipcode" value="" placeholder=" e.g 45324" required><br><br>
      <label for="radius">Enter radius in miles : </label>
      <input type="number" name="radius" min='1' max='24' value='1' required><br><br>
      <input type="submit" name="Search" value="Search">
    </form>
    {% block content %}
    {% endblock  %}

  </body>
</html>
